<h1>Task Information</h1><hr>

<h3 class="title-font"> <%= @task.title.capitalize %> </h3>
<p> <%= @task.description %> </p>
<p> Created at: <%= time_ago_in_words(@task.created_at) %> ago</p>

<p>
  <%= link_to "Edit", edit_task_path, :class => "link-text" %> | 
  <%= link_to 'Delete', @task,  method: :delete, data: { confirm: 'Are you sure?' }, :class => "link-text" %>
</p>

<%= render "comments/comments" %>
<%= render "comments/form" %>

<p>
  <%= link_to "All Tasks", tasks_path, :class => "link-text" %>
</p>
