<h1>Task Information</h1><hr>

<h3 class="title-font"> <%= @task.title.capitalize %> </h3>
<p> <%= @task.description %> </p>
<p> Created at: <%= time_ago_in_words(@task.created_at) %> ago</p>

<p>
  <%= link_to "Edit", edit_admin_task_path, :class => "link-text" %> | 
  <%= link_to 'Delete', [:admin, @task],  method: :delete, data: { confirm: 'Are you sure?' }, :class => "link-text" %> | 
  <%= link_to "Complete",completed_admin_task_path(@task), :class => "link-text", :method => :patch %>
</p>

<p>
  <%= link_to "All Tasks", admin_tasks_path, :class => "link-text" %>
</p>
